/* Width max */
/* Width max */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  text-decoration: none; }

/*Style Geral*/
.App-header {
  background-color: #5ba4a4; }
  @media screen and (min-width: 1024px) {
    .App-header {
      background-image: url("../../images/bg-header-desktop.svg");
      height: 15vh; } }
  @media screen and (max-width: 375px) {
    .App-header {
      background-image: url("../../images/bg-header-mobile.svg");
      height: 23vh; } }

.App-body {
  background-color: #effafa;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  @media screen and (min-width: 1024px) {
    .App-body {
      min-height: 85vh; } }
  @media screen and (max-width: 375px) {
    .App-body {
      min-height: 77vh; } }

.filterTable {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .filterTable {
      padding-left: 10vw;
      padding-right: 10vw; } }
  @media screen and (max-width: 375px) {
    .filterTable {
      padding-left: 0;
      padding-right: 0; } }

.results-job {
  display: flex;
  justify-content: center; }

.job-list {
  height: auto;
  width: 100%; }

.job-border-left {
  border-left: 5px #5ba4a4 solid; }

.job-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 35px 15px 15px 15px;
  box-shadow: 2px 10px 15px #7b8e8e; }

.inside-job {
  font-weight: 700;
  font-size: 15px;
  color: #5ba4a4; }
  @media screen and (min-width: 1024px) {
    .inside-job {
      display: flex;
      flex-direction: row;
      align-items: center; } }

@media screen and (min-width: 1024px) {
  .logo-job {
    margin: 15px;
    padding: 10px; }
    .logo-job img {
      width: 88px; } }
@media screen and (max-width: 375px) {
  .logo-job {
    display: flex;
    margin-top: -2em; }
    .logo-job img {
      width: 55px; } }

.content-job {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .content-job h1 {
    padding-right: 15px; }
  .content-job span {
    color: #eef6f6;
    height: 2em;
    width: auto;
    text-align: center; }
  .content-job .jobOffer-new {
    background-color: #5ba4a4;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px; }
  .content-job .jobOffer-featured {
    background-color: #2c3a3a;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px; }
  @media screen and (min-width: 1024px) {
    .content-job {
      width: 28vw; } }

.jobOffer-description {
  display: flex;
  flex-direction: column; }
  .jobOffer-description h2 {
    font-weight: 700;
    padding: 10px 0 10px 0;
    color: #2c3a3a;
    cursor: pointer; }
    .jobOffer-description h2:hover {
      color: #5ba4a4; }
  @media screen and (min-width: 1024px) {
    .jobOffer-description {
      border-bottom: 0px #7b8e8e solid;
      padding-bottom: 0px;
      margin-bottom: 0px; } }
  @media screen and (max-width: 375px) {
    .jobOffer-description {
      border-bottom: 1.8px #7b8e8e solid;
      padding-bottom: 10px;
      margin-bottom: 10px; } }

.job-info {
  font-weight: 500;
  color: #7b8e8e;
  display: flex; }
  .job-info .li-default {
    list-style: none; }
  .job-info li {
    padding-right: 25px;
    list-style: disc; }
    @media screen and (min-width: 1024px) {
      .job-info li {
        font-size: 13px; } }

.jobOffer-requisites {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 1024px) {
    .jobOffer-requisites {
      text-align: right;
      width: 100%;
      justify-content: flex-end;
      padding-right: 10px; } }

.jobOffer-requisites .label-skills {
  color: #5ba4a4;
  font-weight: 700;
  background-color: #eef6f6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em; }
  .jobOffer-requisites .label-skills:hover {
    background-color: #5ba4a4;
    color: #eef6f6; }

.list-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: auto;
  margin: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 10px 15px #7b8e8e;
  margin-top: -43px; }
  .list-filter .clear {
    color: #2c3a3a;
    font-weight: 700;
    height: 50px;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .list-filter .clear:hover {
      color: #5ba4a4;
      text-decoration: underline; }
  .list-filter ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .list-filter li {
    display: flex;
    margin: 10px;
    margin-right: 2px;
    background-color: #eef6f6;
    color: #5ba4a4;
    border-radius: 5px;
    font-weight: 700; }
  .list-filter div {
    width: 90%; }

.list-filter .label-filter {
  padding: 10px; }

.list-filter .remove {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ba4a4;
  width: 50px;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  color: white;
  cursor: pointer; }
  .list-filter .remove span {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../../images/icon-remove.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    margin: 10px; }
  .list-filter .remove:hover {
    background-color: #2c3a3a; }

/*# sourceMappingURL=index.css.map */
