* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

/* Width max */
/* Width max */
/*Firt mobile */
* {
  font-family: "Spartan", sans-serif;
  font-size: 15px; }

.App-header {
  background-image: url("../../images/bg-header-mobile.svg");
  background-color: #5ba4a4;
  height: 24vh; }

.App-body {
  background-color: #effafa;
  /*height: 100vh - $height-header; ---> altura minima*/
  display: flex;
  justify-content: center;
  align-items: baseline; }

.filterTable {
  width: 100%; }

.results-job {
  display: flex;
  justify-content: center; }

.job-list {
  height: auto;
  width: 100%; }

.job-border-left {
  border-left: 5px #5ba4a4 solid; }

.job-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 35px 15px 15px 15px;
  box-shadow: 2px 10px 15px #7b8e8e; }

.inside-job {
  font-weight: 700;
  font-size: 15px;
  color: #5ba4a4; }

.logo-job {
  display: flex;
  margin-top: -2em; }

.logo-job img {
  width: 55px; }

.content-job {
  display: flex;
  flex-direction: row;
  align-items: center; }

.content-job h1 {
  padding-right: 15px; }

.content-job span {
  color: #eef6f6;
  height: 2em;
  width: auto;
  text-align: center; }

.content-job .jobOffer-new {
  background-color: #5ba4a4;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px; }

.content-job .jobOffer-featured {
  background-color: #2c3a3a;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px; }

.jobOffer-description {
  display: flex;
  flex-direction: column;
  border-bottom: 1.8px #7b8e8e solid;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.jobOffer-description h2 {
  color: #2c3a3a;
  font-weight: 700;
  padding: 10px 0 10px 0; }

.job-info {
  font-weight: 500;
  color: #7b8e8e;
  display: flex; }

.job-info .li-default {
  list-style: none; }

.job-info li {
  padding-right: 25px;
  list-style: disc; }

.jobOffer-requisites {
  display: flex;
  flex-wrap: wrap; }

.jobOffer-requisites .label-skills {
  color: #5ba4a4;
  font-weight: 700;
  background-color: #eef6f6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em; }
  .jobOffer-requisites .label-skills:hover {
    background-color: #5ba4a4;
    color: #eef6f6; }

.list-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: auto;
  margin: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 10px 15px #7b8e8e;
  margin-top: -43px; }
  .list-filter .clear {
    color: #5ba4a4;
    font-weight: 700;
    height: 100%;
    width: 13%;
    margin: 15px; }

.list-filter ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.list-filter li {
  display: flex;
  margin: 10px;
  background-color: #eef6f6;
  color: #5ba4a4;
  border-radius: 5px;
  font-weight: 700; }

.list-filter div {
  width: 90%; }

.list-filter .label-filter {
  padding: 10px; }

.list-filter .remove {
  background-color: #2c3a3a;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=index.css.map */
