table {
	display: flex;
	justify-content: center;
	font-family: spartan;

}

tbody {
    border-left: 5px hsl(180, 29%, 50%) solid;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    height: auto;
    width: 100%;
}

.company {

    
    font-weight: 700;
    font-size: 15px;
    color: hsl(180, 29%, 50%);
    
}

.name {
	padding-right:15px;
}


.new{

	background-color: hsl(180, 29%, 50%)
	color: white;
	border-radius: 20px;
	padding-top: 10px;
	height: 33px;
	width: 60px;
	text-align: center;
	margin-right:10px;
}

.featured {
    background-color: hsl(180, 14%, 20%);
    color: white;
    border-radius: 20px;
    height: 33px;
    width: 104px;
    text-align: center;
    padding-top: 10px;
}

.position {
    color: hsl(180, 14%, 20%);
    font-weight: 700;
    height: auto;
    width: auto;
    padding: 10px 0 10px 0;
    display: flex;
}

.infos {
    font-weight: 500;
    color: hsl(180, 8%, 52%);
    display: flex;
    justify-content: space-around;
    margin-left: -15px;
}

.filters td{
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    background-color: hsl(180, 31%, 95%);
    padding: 10px;
    border-radius: 5px;
}
