@import 'library';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size;
    text-decoration: none;
    
}

@mixin styles-base {
    .App-header{
        background-image: $url-imageMobile;
        background-color: $color-primary;
        height: $height-header;
    }
    .App-body{
        background-color: $color-background;        
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .filterTable{
        width: 100%;
    }
    
    .results-job{
        display: flex;
        justify-content: center;
        
    }
    
    .job-list{
        height: auto;
        width: 100%;
    }

    .job-border-left{
        border-left: 5px $color-primary solid;
    }

    .job-row{
        display: flex;
        flex-direction: column;    
        background-color: $color-background-tables;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 35px 15px 15px 15px;
        box-shadow: 2px 10px 15px $color-dark;
    }

    .inside-job{
        font-weight: $font-weights-700;
        font-size: $font-size;
        color: $color-primary;
    }
    .content-job{
        display: flex;
        flex-direction: row;
        align-items: center;

        h1{
            padding-right: 15px;
        }

        span{
            color: $color-filter-tablets;
            height: 2em;
            width: auto;
            text-align: center;
        }

        .jobOffer-new{
            background-color: $color-primary;    
            border-radius: 20px;
            padding: 10px;
            margin-right: 10px;
        }

        .jobOffer-featured{
            background-color: $color-veryDark;
            border-radius: 20px;
            padding: 10px;
            margin-right: 10px;
            
        }

    }

    .jobOffer-description{
        display: flex;
        flex-direction: column;
        

        h2{
            
            font-weight: $font-weights-700;
            padding: 10px 0 10px 0;
        }

        a{
            color: $color-veryDark;

            &:hover{
                color: $color-primary;
            }
        }
    }
    
    .job-info {
        font-weight: $font-weights-500;
        color: $color-dark;
        display: flex;

        .li-default{
            list-style: none;
        }

        li{
            padding-right: 25px;
            list-style: disc;
        }
    
    }


.jobOffer-requisites{
    display: flex;
    flex-wrap: wrap;
}

.jobOffer-requisites .label-skills{
    color: $color-primary;
    font-weight: $font-weights-700;
    background-color: $color-filter-tablets;
    padding: 10px;
    border: none;
    border-radius: 5px;

    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;


    
        &:hover{
            background-color: $color-primary;
            color: $color-filter-tablets; 
            
        }
    
    }


.list-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background-tables;
    height: auto;
    margin: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 10px 15px $color-dark;
    margin-top: -43px;

    .clear{
        color: $color-veryDark;
        font-weight: $font-weights-700;
        height: 50px;
        width: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover{
            color: $color-primary;
            text-decoration: underline;
        }
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li{
        display: flex;
        margin: 10px;
        margin-right: 2px;
        background-color: $color-filter-tablets;
        color: $color-primary;
        border-radius: 5px;
        font-weight: $font-weights-700;
    }
    div{
        width: 90%;
    }
}

.list-filter .label-filter{
    padding: 10px;
}

.list-filter .remove{  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    width: 50px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    color: white;
    

    span{
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: $url-imageRemove;
        background-repeat: no-repeat;
        background-size: 16px;
        margin: 10px;
    }

    &:hover{
        background-color: $color-veryDark;
    }
  
}

}