@import 'library';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size;
    text-decoration: none;
    
}

@mixin styles-base {
    .App-header{        
        background-color: $color-primary;
        
        @media screen and (min-width: $width-desktop) {
            background-image: $url-imageDesktop;
            height: $header-desktop;
        }
        @media screen and (max-width: $width-mobile) {
            background-image: $url-imageMobile;
            height: $height-header;
        }
    }
    .App-body{
        background-color: $color-background;        
        display: flex;
        justify-content: center;
        align-items: baseline;

        @media screen and (min-width: $width-desktop) {
            min-height: 100vh - $header-desktop;
        }
        @media screen and (max-width: $width-mobile) {
            min-height: 100vh - $height-header;
        }
    }
    .filterTable{
        width: 100%;

        @media screen and (min-width: $width-desktop) {
            padding-left: 10vw;
            padding-right: 10vw;
        }
        @media screen and (max-width: $width-mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .results-job{
        display: flex;
        justify-content: center;
        
    }
    
    .job-list{
        height: auto;
        width: 100%;
    }

    .job-border-left{
        border-left: 5px $color-primary solid;
    }

    .job-row{
        display: flex;
        flex-direction: column;    
        background-color: $color-background-tables;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 35px 15px 15px 15px;
        box-shadow: 2px 10px 15px $color-dark;
    }

    .inside-job{
        font-weight: $font-weights-700;
        font-size: $font-size;
        color: $color-primary;
        display: flex;
        //aqui

        @media screen and (min-width: $width-desktop) {
            flex-direction: row;
            align-items: center;
        }
        @media screen and (max-width: $width-mobile) {
            flex-direction: column;
            align-items: inherit;
        }
        
       
    }

    .logo-job{
        padding: 10px;
        
        @media screen and (min-width: $width-desktop) {
            margin: 15px;

            img{
                width: 88px;
            }
        }
        @media screen and (max-width: $width-mobile) {
            display: flex;
            margin-top: -3em;
            margin-left: 0;
            padding-left: 0;

            img{
                width: 55px;
            }
        }
    }

    .content-job{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        h1{
            padding-right: 15px;
        }

        span{
            color: $color-filter-tablets;
            height: 2em;
            width: auto;
            text-align: center;
        }

        .jobOffer-new{
            background-color: $color-primary;    
            border-radius: 20px;
            padding: 10px;
            margin-right: 10px;
        }

        .jobOffer-featured{
            background-color: $color-veryDark;
            border-radius: 20px;
            padding: 10px;
            margin-right: 10px;
            
        }

    }

    .jobOffer-description{
        display: flex;
        flex-direction: column;
        width: 20em;

        h2{
            
            font-weight: $font-weights-700;
            padding: 10px 0 10px 0;
            color: $color-veryDark;
            cursor: pointer;
    
            &:hover{
                color: $color-primary;
            }
        }
        @media screen and (min-width: $width-desktop) {
            border-bottom: 0px $color-dark solid;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
        }

        @media screen and (max-width: $width-mobile) {
            border-bottom: 1.8px $color-dark solid;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
    
    .job-info {
        font-weight: $font-weights-500;
        color: $color-dark;
        display: flex;

        .li-default{
            list-style: none;
        }

        li{
            padding-right: 25px;
            list-style: disc;

            @media screen and (min-width: $width-desktop) {
                font-size: 13px;
            }
            
        }
    
    }


.jobOffer-requisites{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $width-desktop) {
        width: 100%;
        justify-content: flex-end;
        padding-right: 10px;
    }

    @media screen and (max-width: $width-mobile) {
        width: 100%;
        justify-content: end;
        padding-right: 10px;
    }
    
}

.jobOffer-requisites .label-skills{
    color: $color-primary;
    font-weight: $font-weights-700;
    background-color: $color-filter-tablets;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
          
    
        &:hover{
            background-color: $color-primary;
            color: $color-filter-tablets; 
            
        }
    
    }


.list-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background-tables;
    height: auto;
    margin: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 10px 15px $color-dark;
    margin-top: -43px;

    .clear{
        color: $color-veryDark;
        font-weight: $font-weights-700;
        height: 50px;
        width: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{
            color: $color-primary;
            text-decoration: underline;
        }
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li{
        display: flex;
        margin: 10px;
        margin-right: 2px;
        background-color: $color-filter-tablets;
        color: $color-primary;
        border-radius: 5px;
        font-weight: $font-weights-700;
    }
    div{
        width: 90%;
    }
}

.list-filter .label-filter{
    padding: 10px;
}

.list-filter .remove{  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    width: 50px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    color: white;

    cursor: pointer;
    

    span{
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: $url-imageRemove;
        background-repeat: no-repeat;
        background-size: 16px;
        margin: 10px;
    }

    &:hover{
        background-color: $color-veryDark;
    }
  
}

}