@import 'library';

$header-desktop: 15vh;

.App-header {
    background-image: $url-imageDesktop;
    height: $header-desktop;
}

.App-body{
    min-height: 100vh - $header-desktop;
}

.filterTable{
    padding-left: 10vw;
    padding-right: 10vw;
}

.inside-job{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-job{
    margin: 15px;
    padding: 10px;
}

.content-job{
    width: 28vw;
}

.job-info{
    li{
        font-size: 13px;
    }
}
.jobOffer-requisites{
    text-align: right;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
}

