@import 'library';
/*Firt mobile */

.App-header {
    background-image: $url-imageMobile; //muda
   
}

.App-body{
    min-height: 100em - $height-header;
}

.logo-job{
    display: flex;
    margin-top: -2em;
}

.logo-job img{
    width: 55px;
}

.jobOffer-description{
    border-bottom: 1.8px $color-dark solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}